DB_PASSWORD=lxy20041009lxy
DB_USER=root
DB_HOST=localhost
DB_PORT=3306
DB_NAME=chat_app
JWT_SECRET=your-secret-key
JWT_EXPIRE_HOUR=24
SERVER_PORT=:8084
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0